<header>
    <div>tinyApp (header)</div>
</header>

<% if (user) { %>
  <form method="POST" action="/logout" >
    <input type="submit" value="log out if you wish">
  </form>
<% } else { %>
  <div><a href="/register"> REGISTER </a></div>
  <a href="/login"> LOG IN </a>
<% } %>