<header>
    <div>tinyApp (header)</div>
</header>

<% if(username){ %>
    <div><%= username %></div>
    <form action="/logout" method="POST">
        <button type="submit">Log out</button>
    </form>
<% } else{ %>
    <form action="/login" method="POST">
        <input name="username">
        <button type="submit">Log in</button>
    </form>
<% } %>
