
 <% include partials/_header %>

    <form action="/login" method="POST">
        <input id="email" type="email" name="email" placeholder="type email...">
        <input id="password" type="password" name="password" placeholder="type password...">
      <button type="submit">Log in</button>
    </form>
