<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
        <% include ../views/partials/_header %>
    </header>
<body>

  <ul>
    <% for (var key in urlDatabase) { %>
      <li> value/URL: <%= urlDatabase[key] %>,  key/Short: <%= key %>    </li>
       <a href='/urls/<%= key%>'>Edit</a>
    <% } %>
  </ul>


</body>
</hmtl>