<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <ul>
    <% for (var key in urlDatabase) { %>
      <li> key: <%= key %>,  value: <%= urlDatabase[key] %>  </li>
    <% } %>
  </ul>


</body>
</hmtl>